// function to %
@function prc($pxone, $pxtwo) {
  @return ($pxone / $pxtwo) * 100%;
}

// to rem
@function rem($px) {
  @return ($px / 16) + rem;
}

// to em
@function em($px) {
  @return ($px / 16) + em;
}

// Flex center mixin
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Flex between mixin
@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Flex start mixin
@mixin flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

// Flex end mixin
@mixin flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

