.goods {
  margin: 30px;
  margin-top: 40px;

  &__statusrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
  }

  &__button-group {
    display: flex;
    gap: 8px;
  }

  &__button {
    width: 40px;
    background-color: #131129;
    color: white;
    border: none;
    width: 40px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.6s ease;

    &:hover {
      background-color: #2a2645;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px 30px;
  }

  &__card {
    font-family: 'Poppins';
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: #1D1932;
    padding: rem(15);
    border-radius: 10px;

    &__img {
      img {
        width: 100%;      
      }
    }

    &__title {
      
      padding-top: 25px;
      padding-bottom: 15px;
      font-size: 18px;
      text-align: start;
      color: #ffffff;
      font-weight: 600;
    }

    &__info {
      display: flex;
      justify-content: space-between;
    }

    &__actiontime {
      &-item {
        font-size: 14px;
        color: #6C7AA0;
      }

      &-text {
        padding-bottom: rem(10);
        font-size: 14px;
        color: #ffffff;
      }
    }

    &__currentbid {
      &-item {
        font-size: 14px;
        color: #6F4FF2;
        text-align: end;
      }

      &-text {
        padding-bottom: rem(10);
        font-size: 14px;
        color: #ffffff;
      }
    }
    
    &__button {
      padding-top: rem(20);
      width: 100%;
      border-radius: 15px;
      
      &-item {
        background-color: #6F4FF2;
        color: white;
        font-weight: 500;
        border: none;
        width: 100%;
        height: 40px;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.3s ease;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .goods {
    &__card {
      margin: 0 auto; //заглушка
    }
    
    &__title {
      font-size: 16px;
    }
  }
}
